# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets crudos pesados
data/raw/

# Archivos comprimidos
*.zip
*.rar
*.7z
*.tar
*.gz

# Sistema
.DS_Store

# Modelos pesados, si después generan alguno muy grande
*.pkl
*.joblib

# Excepción: modelos necesarios del proyecto
!models/
!models/random_forest_rescuetwin.pkl
!models/model_columns.pkl

# Outputs temporales
outputs/
# ROS 2 workspace build outputs
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Gazebo logs
.gazebo/
*.log

# Videos pesados
reports/videos/*.mp4
